<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facial_expression_recognnition</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- { url_for('static', filename='image/windmill.gif') } -->
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="#" class="nav-logo"
          ><img
            src="{{ url_for('static', filename='face-scan.gif') }} "
            alt=""
          />
        </a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="#features" class="nav-link">features</a>
          </li>

          <li class="nav-item">
            <a href="#about" class="nav-link">About us</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <section id="features" class="container">
      <div class="container-1">
        <h2>Facial Expression Recognition</h2>
        <p>
          A tool that used Deep learning model to detect your facial exxpression
        </p>
        <p>You can either upload an image or go live !!!</p>
        <div class="button">
          <a href="{{url_for('upload_image')}}" class="btn btn__hero use">Upload </a>
          <a href="{{url_for('video_feed')}}" class="btn btn__hero use">Go live</a>
        </div>
      </div>
      <div class="container-2">
        <img
          src="{{ url_for('static', filename='face-recognition.png') }}"
          alt=""
        />
      </div>
      <div class="container-3">
        <a href="#" class="btn btn__hero use">Upload </a>
        <a href="{{url_for('video_feed')}}" class="btn btn__hero use">Go live</a>
      </div>
    </section>

<!-- features starts here  -->
    <section class="opportunities" id="features">

      <div class="opportunities__content w-105">
          <div class="opportunities__head">
              <h2 class="opportunities__title">Our features</h2>
              <p class="opportunities__description">We provides AI driven tools , that helps farmer to grow crops according to thier environment conditions.</p>
              
          </div>
          <div class="opportunities__body">
              <div class="opportunity">
                  <img src="{{ url_for('static', filename='accuracy.png') }}" alt="" class="crop_img">

                  <h4 class="opportunity__title">Accuracy</h4>
                  <p class="opportunity__description">This model uses CNN deep learning techique and give an accuracy of more than 80 % .</p>
                  <a href="#" class="btn btn__hero fbtn">Check </a>
                 
                  
              </div>

              <div class="opportunity active">
                  <img src="{{ url_for('static', filename='project.png') }}" alt="Icon" class="opportunity__icon">
                  <h4 class="opportunity__title">Detailed report</h4>
                  <p class="opportunity__description">
                      We have also done a detailed report of this project , where we discussed everything about its models , approch ,etc        .          </p>
                  <a href="#" class="btn btn__hero fbtn">Read </a>
                  

              </div>
              <div class="opportunity">
                <img src="{{ url_for('static', filename='live-streaming.png') }}" alt="" class="crop_img">

                <h4 class="opportunity__title">Live Vedio</h4>
                <p class="opportunity__description">One of the special feature of Our project is that you can check your expression live .</p>
                <a href="{{url_for('video_feed')}}" class="btn btn__hero fbtn">go live </a>
                
                
            </div>
             
            </div>



            <!-- footer  -->
                <!-- footer beggins here  -->

    <footer class="footer" id="contact">
      <div class="footer__body w-105">
        <nav class="footer__nav">
          <ul id="about" class="footer_nav__menu down">
            <li class="footer_nav__item">
              <h4 class="footer_nav__menu__title">about us</h4>
            </li>
            <li class="footer_nav__item">
              <a href="https://www.linkedin.com/in/shalender-bhandari-300a86237/" class="footer_nav__link"  ><i class="fa-brands fa-linkedin"></i>  Shalender</a>
            </li>
            <li class="footer_nav__item">
              <a href="https://www.linkedin.com/in/ajay308/" class="footer_nav__link"><i class="fa-brands fa-linkedin"></i>  Ajay</a>
            </li>

            <li class="footer_nav__item">
              <a href="https://www.linkedin.com/in/mayank-kansal-67b24624a/" class="footer_nav__link"><i class="fa-brands fa-linkedin"></i>  Mayank</a>
            </li>
          </ul>
          <ul class="footer_nav__menu down">
            <li  id="contact" class="footer_nav__item">
              <h4 class="footer_nav__menu__title">CONTACT US</h4>
            </li>
            <li class="footer_nav__item">
              <a href="#" class="footer_nav__link"><i class="fa-solid fa-phone"></i>+9199XXXXXX88</a>
            </li>
            <li class="footer_nav__item">
              <a href="#" class="footer_nav__link"><i class="fa-brands fa-facebook"></i>  emo_detection_01</a>
            </li>
            <li class="footer_nav__item">
              <a href="#" class="footer_nav__link"><i class="fa-brands fa-whatsapp"></i>+9190XXXXX32</a>
            </li>
          </ul>

        </nav>
        <div class="footer__contact ">
          <h5 class="footer__contact__title">EMO</h5>
          <span>Write email to us at</span>
          <a href="mailto:kisansathi@gmail.com" class="email">shalenderbhandari@gmail.com</a>

        </div>
      </div>


    </footer>
    <script src="{{ url_for('static', filename='javascript/javascript.js') }}"></script>

  </body>
</html>
